@model TeamMembersServiceModel

@{
    ViewData["Title"] = "Members";
}

<div class="row">
    <div class="card-deck">
        @foreach (var member in Model.Members)
        {
            <div class="card mb-2 container-fluid stand" style="width: 16rem;">
                @if (member.IsDefaultImage)
                {
                    <img src="/images/Profile.jpg" class="card-img-top" alt="Profile picture">
                }
                else
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(member.Image)" class="card-img-top" alt="Profile picture">
                }
                <div class="card-body text-center ">
                    <h5 class="card-title mb-0">@member.Nickname</h5>
                    @if (member.IsMemberOwner)
                    {
                        <div class="card-text text-black-50">Team Lead</div>
                        <br />
                        @if (member.Id != this.User.Id())@*x2 partial*@
                        {
                            <div class="accordion">
                                <a asp-controller="User" asp-action="Profile" asp-route-userId="@member.Id" class="btn btn-outline-primary">View Profile</a>
                            </div>
                        }
                    }
                    @if (!member.IsMemberOwner)
                    {
                        <div class="card-text text-black-50">Member</div>
                        <br />
                        @if (member.Id != this.User.Id())@*x2 partial*@
                        {
                            <div class="accordion">
                                <a asp-controller="User" asp-action="Profile" asp-route-userId="@member.Id" class="btn btn-outline-primary">View Profile</a>
                            </div>
                        }
                        @if (this.Model.IsOwner)
                        {
                            <div class="accordion">
                                <a asp-controller="Team" asp-action="PromoteToOwner" asp-route-teamId="@Model.TeamId" asp-route-memberId="@member.Id" class="btn btn-outline-warning">Promote to owner</a>
                                <a asp-controller="Team" asp-action="Leave" asp-route-teamId="@Model.TeamId" asp-route-memberId="@member.Id" class="btn btn-outline-danger">Kick</a>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>