@model IEnumerable<MessageViewModel>

@{
    ViewData["Title"] = "Messages";
}

<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    @if (this.Model.Any())
    {
        <h2 class="heading-margin text-center">Your Messages:</h2>
        <br />
    }
    <div class="card-deck">
        @foreach (var message in this.Model)
        {
            if (message.IsSender)
            {
                <div class="card mb-3 stand" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">You have invited @message.ReciverUsername.Split('@')[0] in Team @message.TeamName</h5>
                        <p class="card-text"></p>
                        <a asp-controller="Team" asp-action="DeclineInvitation" asp-route-requestId="@message.RequestId" class="btn btn-danger">Decline</a>
                    </div>
                </div>
            }
            else if (!message.IsNotification)
            {
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Invitation from Team @message.TeamName</h5>
                        <p class="card-text"></p>
                        <a asp-controller="Team" asp-action="AcceptInvitation" asp-route-requestId="@message.RequestId" class="btn btn-outline-success">Accept</a>
                        <a asp-controller="Team" asp-action="DeclineInvitation" asp-route-requestId="@message.RequestId" class="btn btn-danger">Decline</a>
                    </div>
                </div>
            }
            else
            {
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@message.Message</h5>
                        <p class="card-text"></p>
                        <a asp-controller="Message" asp-action="Clear" asp-route-notificationId="@message.NotificationId" class="btn btn-outline-success">Clear</a>
                    </div>
                </div>
            }
        }
    </div>
</div>

@if (!this.Model.Any())
{
    <h3 class="heading-margin text-center">No messages found.</h3>
}
