@model AllTournamentsQueryModel

@{
    ViewData["Title"] = "All tournaments";
}

<h1 class="text-center">All Upcoming Tournaments</h1>
<br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center"><a class="btn btn-outline-dark">Id</a></th>
            <th scope="col" class="text-center"><a asp-area="Admin" asp-controller="Tournament" asp-action="All" asp-route-orderBy="name" class="btn btn-dark">Name</a></th>
            <th scope="col" class="text-center"><a class="btn btn-outline-dark">Image</a></th>
            <th scope="col" class="text-center"><a class="btn btn-outline-dark">Information</a></th>
            <th scope="col" class="text-center"><a asp-area="Admin" asp-controller="Tournament" asp-action="All" asp-route-orderBy="date" class="btn btn-dark">Starts On</a></th>
            <th scope="col" class="text-center"><a class="btn btn-outline-dark">Prize Pool</a></th>
            <th scope="col" class="text-center"><a class="btn btn-outline-dark">Ticket Prize</a></th>
            <th scope="col" class="text-center"><a asp-area="Admin" asp-controller="Tournament" asp-action="All" asp-route-orderBy="hoster" class="btn btn-dark">Owner Name</a></th>
            <th scope="col" class="text-center"><a asp-area="Admin" asp-controller="Tournament" asp-action="All" asp-route-orderBy="verified" class="btn btn-dark">Is Verified</a></th>
            <th scope="col" class="text-center"><a class="btn btn-outline-dark">Commands</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model.Tournaments)
        {
            <tr>
                <td scope="col" class="text-center">@tournament.Id</td>
                <td scope="col" class="text-center">@tournament.Name</td>
                <td scope="col" class="text-center"><button class="test btn btn-primary disabled">View</button></td>
                <td scope="col" class="text-center">
                    @if (tournament.Information is not null)
                    {
                        <a asp-area="Admin" asp-controller="Tournament" asp-action="Information" asp-route-tournamentId="@tournament.Id" class="btn btn-primary">View</a>
                    }
                    else
                    {
                        <button class="test btn btn-primary disabled">View</button>
                    }
                </td>
                <td scope="col" class="text-center">@tournament.StartsOn.ToLocalTime()</td>
                <td scope="col" class="text-center">@tournament.PrizePool</td>
                <td scope="col" class="text-center">@tournament.TicketPrize</td>
                <td scope="col" class="text-center">@tournament.HosterName</td>
                <td scope="col" class="text-center">@(tournament.IsVerified ? "Yes" : "No")</td>

                <td scope="col">
                    @if (!tournament.IsVerified)
                    {
                        <a asp-area="Admin" asp-controller="Tournament" asp-action="Verify" asp-route-tournamentId="@tournament.Id" class="btn btn-info float-right ml-3">Verify</a>
                    }
                    else
                    {
                        <a asp-area="Admin" asp-controller="Tournament" asp-action="Unverify" asp-route-tournamentId="@tournament.Id" class="btn btn-info float-right ml-3">Unverify</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

